html, body {
    height: 100%;
    background-image: radial-gradient(hsl(83, 23%, 47%), hsl(42, 74%, 30%));
}

.wrapper{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    box-sizing: border-box;
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    gap: 15px;
}

button{
    border-radius: 24px;
}

.sketchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.canvas{
    border: 10px solid black;
    height: 300px;
    width: 300px;
}