html, body {
    height: 100%;
    background-image: radial-gradient(hsl(83, 23%, 47%), hsl(42, 74%, 30%));
}

.wrapper {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 32px;
}

.menu {
    box-sizing: border-box;
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

button {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 20px;
}

button:hover {
    width: 150px;
}


.sketchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 60px;
    font-family: Roboto, sans-serif;
}

.canvas {
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr);
    padding: 0;
    margin: 0;
}

.paint{
    border: 1px solid black;
}


:root {
    --rowNum: 16;
    --colNum: 16;
    --color: 'black';
}